label,
input {
  display: block;
  width: 100%;
}

input {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 8px;
}

input:focus {
  outline: none;
  border: 2px solid purple;
}

input:focus.invalid {
  outline: none;
  border: 2px solid tomato;
}

label {
  margin-bottom: 5px;
}

.invalid {
  border: 2px solid tomato;
}

.error-message {
  color: tomato;
  font-size: 12px;
}
